* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --white: #fff;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: #fff;
    background: #000;
}

a {
    color: white;
    text-decoration: none;
}

.flex {
    display: flex;
    &.center {
        align-items: center;
        justify-content: center;
    }
    &.center-x {
        justify-content: center;
    }
    &.center-y {
        align-items: center;
    }
    &.column {
        flex-direction: column;
    }
    &.space-evenly {
        justify-content: space-evenly;
    }
    &.end {
        justify-content: flex-end;
    }
}

.width-fit-content {
    width: fit-content;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.position {
    &-top-right {
        position: absolute !important;
        top: 4px;
        right: 4px;
    }
    &-top-left {
        position: absolute !important;
        top: 4px;
        left: 4px;
    }
    &-bottom-right {
        position: absolute !important;
        bottom: 4px;
        right: 4px;
    }
}

.radius-8 {
    border-radius: 8px;
}

.fs {
    &-15 {
        font-size: 15px !important;
    }
    &-60 {
        font-size: 60px !important;
    }
}

.white {
    color: (var(--white));
}

.m {
    &-b {
        &-0 {
            margin-bottom: 0;
        }
        &-10 {
            margin-bottom: 10px;
        }
        &-70 {
            margin-bottom: 70px;
        }
    }
}

.lh {
    &-30 {
        line-height: 30px;
    }
}

.border {
    &-white {
        border: 1px solid var(--white);
    }
}

.box-hover {
    &-white {
        transition: background 0.3s ease;

        &:hover {
            background: rgba(255, 255, 255, 0.1);
        }
    }
}

.project-card {
    position: relative;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #000;
    height: 100%;
    color: #000;
}

.inline-block-link {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.fade-in-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.nav-list {
    padding: 0px !important;
    display: flex;
    flex-direction: row;
    width: 100%;
}

ul {
    list-style-type: none;
}

li {
    text-align: center;
}

.nav-item {
    padding: 0px !important;
    justify-content: center !important;
}
